<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Stream</title>
    <script src="{{ url_for('static', filename='socket.io/socket.io.js') }}"></script>
    <style>{% include 'styles.css' %}</style>

</head>
<body>
    <div class="container">
        <div style="position: relative; display: inline-block;">
            <img id="video" src="" alt="Video Stream" />
            <div id="lagDisplay" style="position: absolute; top: 10px; right: 10px; color: red; font-size: 14px;"></div>
        </div>
        <div class="alert-container">
            <div id="alert-level"></div>
            <button id="playButton"></button>
        </div>
        <div>
            <button id="setBaselineButton">Set Baseline</button>
        </div>
    </div>

<script>
    {% include 'script.js' %}
</script>

</body>
</html>
